.wrapper{
    overflow-x: hidden;
}
.index-page .wrapper > .header {
    height: calc(100vh - 100px);
}
.index-page .brand {
    margin-top: 35vh;
}
@media (max-width: 767px){
    .index-page .wrapper > .header {
        height: calc(100vh - 75px);
    }
    .section {
        padding: 20px 0;
    }
}

h2.title span.getTitle{
    color: #039BE5;
}
h2.title span.parenteses{
    color: #E91E63;
}
@media (max-width: 767px){
    h2.title span{
        display: none;
    }
}

.description{
    color: #3C4858;
}

/** NAV **/
    @media (max-width: 991px){
        .navbar .navbar-nav > li > a {
            padding: 15px 10px;
        }
    }
    @media (max-width: 767px){
        .navbar-icons{
            text-align: center;
        }
        .navbar-icons li{
            display: inline-block;
            width: auto;
        }
    }

/** Logo Container **/
    .logo-container .logo{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
    }

    .logo-container .brand{
        font-size: 16px;
        color: #FFFFFF;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 7px;
        width: 70px;
        height: 40px;
        text-align: left;
    }
    .logo-container .brand-material{
        font-size: 18px;
        margin-top: 15px;
        height: 25px;
        width: auto;
    }
    .logo-container .logo img{
        width: 100%;
    }
    .navbar-small .logo-container .brand{
        color: #333333;
    }
    @media (max-width: 767px){
        .logo-container .logo{
            margin-left: 20px;
        }
    }

/** HEADER **/
    @media (max-width: 767px){
        .index-page .brand h1{
            font-size: 2.8em;
        }
        .index-page .brand h2{
            margin-top: 0px;
            font-size: 1.1em;
        }
    }

/** Parallax Image **/
    .parallax .parallax-image{
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    .parallax .parallax-image img{
        width: 100%;
    }

    @media (max-width: 767px){
        .parallax .parallax-image{
             width: 100%;
             height: 640px;
             overflow: hidden;
         }
        .parallax .parallax-image img{
           height: 100%;
           width: auto;
       }
    }

/** Profile **/
    .profile{
        text-align: center;
        position: relative;
    }
    .profile .avatar{
        position: absolute;
        width: 100%;
        top: -200px;
    }
    .profile img{
        max-width: 160px;
        margin: 0 auto;
    }
    .profile .name{
        margin: 50px 0;
    }
    .profile .description{
        max-width: 600px;
        margin: 0 auto;
    }
    @media (max-width: 991px){
        .profile .avatar{
            top: -160px;
        }
        .profile img{
            max-width: 130px;
            margin: 0 auto;
        }
    }
    @media (max-width: 767px){
        .profile .name{
            margin: 50px 0 20px 0;
        }
        .profile .name h5{
            font-size: 1.15em;
        }
        .profile .avatar{
            top: -140px;
        }
    }

/** PERSONALITY **/
    .section-personality{
        background: #dfdfdf;
    }
    .section-personality .icon{
        width: 180px;
        height: auto;
        display: block;
        padding: 20px;
        margin: 0 auto;
        border-radius: 50%;
        background: #fff;
    }
    .section-personality .title{
        text-transform: uppercase;
        color: #3C4858;
    }
    .section-personality p{
        color: #3C4858;
        font-weight: 400;
    }
    .section-personality .tags{
        color: #c62828;
    }
    @media (max-width: 991px){
        .section-personality .icon{
            width: 150px;
        }
    }
    @media (max-width: 767px){
        .section-personality .icon{
            width: 100px;
            padding: 12px;
        }
        .section-personality .title{
            font-size: 1em;
            margin-bottom: 0px;
        }
        .section-personality p{
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 20px;
        }
    }

/** PORTFOLIO **/
    @media (max-width: 991px){
        .portfolio-item h3{
            margin-top: 0px;
        }
    }
    @media (max-width: 767px){
        .portfolio-item h3{
            margin-top: 15px;
        }
    }

/** Experiences **/
    /* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.experiences-android, .experiences-css, .experiences-css3, .experiences-github, .experiences-html, 
.experiences-java, .experiences-javascript, .experiences-jquery, .experiences-linux, .experiences-mysql, 
.experiences-nodejs, .experiences-oracle, .experiences-photoshop, .experiences-php, .experiences-python, 
.experiences-react, .experiences-windows, .experiences-wordpress, .experiences-git
{ display: inline-block; background: url('../img/spritesheet_experiences-icon.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.experiences-android { background-position: -5px -0px; width: 64px; height: 64px; }
.experiences-css { background-position: -5px -69px; width: 64px; height: 64px; }
.experiences-css3 { background-position: -5px -138px; width: 64px; height: 64px; }
.experiences-github { background-position: -5px -207px; width: 64px; height: 64px; }
.experiences-html { background-position: -5px -276px; width: 64px; height: 64px; }
.experiences-java { background-position: -5px -345px; width: 64px; height: 64px; }
.experiences-javascript { background-position: -5px -414px; width: 64px; height: 64px; }
.experiences-jquery { background-position: -5px -483px; width: 64px; height: 64px; }
.experiences-linux { background-position: -5px -552px; width: 64px; height: 64px; }
.experiences-mysql { background-position: -5px -621px; width: 64px; height: 64px; }
.experiences-nodejs { background-position: -5px -690px; width: 64px; height: 64px; }
.experiences-oracle { background-position: -5px -759px; width: 64px; height: 64px; }
.experiences-photoshop { background-position: -5px -828px; width: 64px; height: 64px; }
.experiences-php { background-position: -5px -897px; width: 64px; height: 64px; }
.experiences-python { background-position: -5px -966px; width: 64px; height: 64px; }
.experiences-react { background-position: -5px -1035px; width: 64px; height: 64px; }
.experiences-windows { background-position: -5px -1104px; width: 64px; height: 64px; }
.experiences-wordpress { background-position: -5px -1173px; width: 64px; height: 64px; }
.experiences-git { background-position: -5px -1242px; width: 40px; height: 64px; }

    @media (max-width: 991px){
        .skill-cat{
            margin-top: 40px;
        }
    }
    @media (max-width: 767px){
        .skill-cat:first-child{
            margin-top: 0px;
        }
        .language{
            margin-bottom: 20px;
        }
        .language p{
            margin-bottom: 5px;
        }
    }


/** EXPERIENCE **/
    .experience{
        margin-top: 60px;
    }
    .experience h3{
        margin-bottom: 0px;
    }
    @media (max-width: 767px){
        .experience img{
            max-width: 100px;
            margin: 0 auto;
        }
    }

/** CONTACT **/
    @media (max-width: 991px){
        #contact.section{
            padding-top: 0px;
        }
    }

/** TYPED **/
    .ityped-cursor {
        opacity: 0;
    }
    .ityped-cursor:not(.finished){
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


/** OWL CAROUSEL **/
    .owl-carousel {
        position: relative;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -10px; /* Half of the prev/next buttons height here in negatives to center them perfectly */
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }

    .item .col-media  {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .company-seal {
        height: auto;
        width: 24px;
    }