@import url('https://fonts.googleapis.com/css?family=Orbitron');

.wrapper{
    overflow-x: hidden;
}
.index-page .wrapper > .header {
    height: calc(100vh - 100px);
}
.index-page .brand {
    margin-top: 35vh;
}
@media (max-width: 767px){
    .index-page .wrapper > .header {
        height: calc(100vh - 75px);
    }
    .section {
        padding: 20px 0;
    }
}

h2.title span.getTitle{
    color: #039BE5;
}
h2.title span.parenteses{
    color: #E91E63;
}
@media (max-width: 767px){
    h2.title span{
        display: none;
    }
}

.description{
    color: #3C4858;
}

/** NAV **/
    @media (max-width: 991px){
        .navbar .navbar-nav > li > a {
            padding: 15px 10px;
        }
    }
    @media (max-width: 767px){
        .navbar-icons{
            text-align: center;
        }
        .navbar-icons li{
            display: inline-block;
            width: auto;
        }
    }

/** Logo Container **/
    .logo-container .logo{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
    }

    .logo-container .brand{
        font-size: 16px;
        color: #FFFFFF;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 7px;
        width: 70px;
        height: 40px;
        text-align: left;
    }
    .logo-container .brand-material{
        font-size: 18px;
        margin-top: 15px;
        height: 25px;
        width: auto;
    }
    .logo-container .logo img{
        width: 100%;
    }
    .navbar-small .logo-container .brand{
        color: #333333;
    }
    @media (max-width: 767px){
        .logo-container .logo{
            margin-left: 20px;
        }
    }

/** HEADER **/
    @media (max-width: 767px){
        .index-page .brand h1{
            font-size: 2.8em;
        }
        .index-page .brand h2{
            margin-top: 0px;
            font-size: 1.1em;
        }
    }

/** Parallax Image **/
    .parallax .parallax-image{
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    .parallax .parallax-image img{
        width: 100%;
    }

    @media (max-width: 767px){
        .parallax .parallax-image{
             width: 100%;
             height: 640px;
             overflow: hidden;
         }
        .parallax .parallax-image img{
           height: 100%;
           width: auto;
       }
    }

/** Profile **/
    .profile{
        text-align: center;
        position: relative;
    }
    .profile .avatar{
        position: absolute;
        width: 100%;
        top: -200px;
    }
    .profile img{
        max-width: 160px;
        margin: 0 auto;
    }
    .profile .name{
        margin: 50px 0;
    }
    .profile .description{
        max-width: 600px;
        margin: 0 auto;
    }
    @media (max-width: 991px){
        .profile .avatar{
            top: -160px;
        }
        .profile img{
            max-width: 130px;
            margin: 0 auto;
        }
    }
    @media (max-width: 767px){
        .profile .name{
            margin: 50px 0 20px 0;
        }
        .profile .name h5{
            font-size: 1.15em;
        }
        .profile .avatar{
            top: -140px;
        }
    }

/** PERSONALITY **/
    .section-personality{
        background: #dfdfdf;
    }
    .section-personality .icon{
        width: 180px;
        height: auto;
        display: block;
        padding: 20px;
        margin: 0 auto;
        border-radius: 50%;
        background: #fff;
    }
    .section-personality .title{
        text-transform: uppercase;
        color: #3C4858;
    }
    .section-personality p{
        color: #3C4858;
        font-weight: 400;
    }
    .section-personality .tags{
        color: #c62828;
    }
    @media (max-width: 991px){
        .section-personality .icon{
            width: 150px;
        }
    }
    @media (max-width: 767px){
        .section-personality .icon{
            width: 100px;
            padding: 12px;
        }
        .section-personality .title{
            font-size: 1em;
            margin-bottom: 0px;
        }
        .section-personality p{
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 20px;
        }
    }

/** PORTFOLIO **/
    @media (max-width: 991px){
        .portfolio-item h3{
            margin-top: 0px;
        }
    }
    @media (max-width: 767px){
        .portfolio-item h3{
            margin-top: 15px;
        }
    }

/** SPRITES **/
    .habilities-amazon, .habilities-android, .habilities-apple, .habilities-aws-ebs, .habilities-aws-ec2, 
    .habilities-aws-rds, .habilities-aws-s3, .habilities-aws, .habilities-css, .habilities-java, 
    .habilities-javascript, .habilities-jquery, .habilities-linux, .habilities-mysql, .habilities-nodejs, 
    .habilities-oracle, .habilities-photoshop, .habilities-php, .habilities-react, .habilities-windows, 
    .habilities-wordpress, .habilities-css3, .habilities-github, .habilities-html, .habilities-python, 
    .habilities-git
    { display: inline-block; background: url('../img/spritesheet_experiences-icon.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
     
    .habilities-amazon { background-position: -3px -0px; width: 64px; height: 64px; }
    .habilities-android { background-position: -3px -67px; width: 64px; height: 64px; }
    .habilities-apple { background-position: -3px -134px; width: 64px; height: 64px; }
    .habilities-aws-ebs { background-position: -3px -201px; width: 64px; height: 64px; }
    .habilities-aws-ec2 { background-position: -3px -268px; width: 64px; height: 64px; }
    .habilities-aws-rds { background-position: -3px -335px; width: 64px; height: 64px; }
    .habilities-aws-s3 { background-position: -3px -402px; width: 64px; height: 64px; }
    .habilities-aws { background-position: -3px -469px; width: 64px; height: 64px; }
    .habilities-css { background-position: -3px -536px; width: 64px; height: 64px; }
    .habilities-java { background-position: -3px -603px; width: 64px; height: 64px; }
    .habilities-javascript { background-position: -3px -670px; width: 64px; height: 64px; }
    .habilities-jquery { background-position: -3px -737px; width: 64px; height: 64px; }
    .habilities-linux { background-position: -3px -804px; width: 64px; height: 64px; }
    .habilities-mysql { background-position: -3px -871px; width: 64px; height: 64px; }
    .habilities-nodejs { background-position: -3px -938px; width: 64px; height: 64px; }
    .habilities-oracle { background-position: -3px -1005px; width: 64px; height: 64px; }
    .habilities-photoshop { background-position: -3px -1072px; width: 64px; height: 64px; }
    .habilities-php { background-position: -3px -1139px; width: 64px; height: 64px; }
    .habilities-react { background-position: -3px -1206px; width: 64px; height: 64px; }
    .habilities-windows { background-position: -3px -1273px; width: 64px; height: 64px; }
    .habilities-wordpress { background-position: -3px -1340px; width: 64px; height: 64px; }
    .habilities-css3 { background-position: -3px -1407px; width: 48px; height: 48px; }
    .habilities-github { background-position: -3px -1458px; width: 48px; height: 48px; }
    .habilities-html { background-position: -3px -1509px; width: 48px; height: 48px; }
    .habilities-python { background-position: -3px -1560px; width: 48px; height: 48px; }
    .habilities-git { background-position: -3px -1611px; width: 40px; height: 64px; }

    @media (max-width: 991px){
        .skill-cat{
            margin-top: 40px;
        }
    }
    @media (max-width: 767px){
        .skill-cat:first-child{
            margin-top: 0px;
        }
        .language{
            margin-bottom: 20px;
        }
        .language p{
            margin-bottom: 5px;
        }
    }


/** EXPERIENCE **/
    .experience{
        margin-top: 60px;
    }
    .experience h3{
        margin-bottom: 0px;
    }
    @media (max-width: 767px){
        .experience img{
            max-width: 100px;
            margin: 0 auto;
        }
    }

/** CONTACT **/
    @media (max-width: 991px){
        #contact.section{
            padding-top: 0px;
        }
    }

/** TYPED **/
    .ityped-cursor {
        opacity: 0;
    }
    .ityped-cursor:not(.finished){
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


/** OWL CAROUSEL **/
    .owl-carousel {
        position: relative;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -10px; /* Half of the prev/next buttons height here in negatives to center them perfectly */
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }

    .item .col-media  {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .company-seal {
        height: auto;
        width: 24px;
    }

/** EFFECTS **/
    .blink_me {
      animation: blinker 6s linear infinite;
    }

    @keyframes blinker {  
      50% { opacity: 0.6; }
    }
    